<div class="container mt-5">
  <div class="row my-3">
    <h4>Theme Buttons</h4>
  </div>
  <div class="row">
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--primary">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--sec ondary">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--accent">Click Me</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--pill btn--primary">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--pill btn--sec ondary">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--pill btn--accent">Click Me</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--rounded btn--primary">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--rounded btn--sec ondary">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--rounded btn--accent">Click Me</button>
    </div>
  </div>
  <div class="row my-3">
    <h4>Gradient Buttons</h4>
  </div>
  <div class="row">
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--rounded btn--pink-purple">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--rounded btn--blue-purple">Click Me</button>
    </div>
    <div class="col-sm-4 my-2">
      <button class="adi-btn btn--rounded btn--orange-red">Click Me</button>
    </div>
  </div>
</div>
